body{
    background-image: url("../img/background.jpeg");
    background-repeat: no-repeat;
    background-color: #FFFFFF;
}

.video{
    margin-left: -1vw;
    margin-top: -1vw;
    position: fixed;
    width: 100vw;
    float: left;
    z-index: -1;
    object-fit: contain;
}

.header{
    position: relative;
    text-align: center;
    color: #ffffff;
    object-fit: cover;
    max-width: 50%;
    margin-right: 25%;
    margin-left: 25%;
    margin-top: -1vw;
}

.headerimage{
    width: 100%;
    height: 12vw;
    object-fit: cover;
    object-position: 0 -10vw;
    z-index: -1;
}

.centered_text{
    position: absolute;
    margin-top: -9.5vw;
    margin-left: 4vw;
    font-size: 5vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #ffffff;
    text-shadow:
    2px 0px 0 #000000,
    0px 2px 0 #000000,
    -2px 0px 0 #000000,
    0px -2px 0 #000000;
}

.menuknop{
    display: none;
}

.menu{
    text-align: center;
    margin-top: -.25vw;
    max-width: 50%;
    margin-right: 25%;
    margin-left: 25%;
    height: 3vw;
    background-color: #707070;
    outline: 1px solid #FFFFFF;
    align-items: center;
    z-index: 1;
}

ul {
    list-style: none;
    margin-top: .5vw;            
    padding: 0;           
    display: inline-block;
    vertical-align: top;
    z-index: 2;
}

li {
    margin-top: 0;
    float: left;
}

.menuref{
    padding: .05vw;
    padding-right: 1vw;
    padding-left: 1vw;
    background-color: #707070;
    color: 255, 255, 255;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7vw;
    text-decoration: none;
    color: #FFFFFF;
}

.a:hover{
    cursor: pointer;
}

/* index */

.images{
    text-align: center;
    max-width: 50%;
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 5px;
}

.image{
    width: 100%;
    height: 21vw;
    margin-top: 0px;
}

.eerste{
    width: 100%;
    height: auto;
    object-fit: scale-down;
    object-position: 0 -1.7vw;
    z-index: -1; position: relative;
}

.tweede{
    width: 100%;
    height: auto;
    object-fit: scale-down;
    object-position: 0 -8vw;
    z-index: -1; position: relative;
}

.derde{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: 0 -6vw;
    z-index: -1; position: relative;
}

.vierde{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: 0 -4vw;
    z-index: -1; position: relative;
}

.text{
    display: block;
    background-color: #2699FB;
    color: #ffffff;
    font-size: 3.5vw;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -0vw;
    font-weight: normal;
    margin-bottom: -.5vw;
}

.texteen{
    margin-top: -.4vw;
    padding: 1vw;
}

.texttwee{
    margin-top: 0;
    padding: 1vw;
}

.textdrie{
    margin-top: 0;
    padding: 1vw;
}

.textvier{
    margin-top: 0;
    padding: 1vw;
}

/*contact page*/

.body{
    margin-left: 25%;
    margin-right: 25%;
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
}

.bluecontact{
    margin-left: 25%;
    margin-right: 25%;
    background-color: #2699FB;
    height: 6vw;
}

.bluecontacttext{
    font-size: 4vw;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    text-align: center;
}

/*contact body*/

.moreinfo{
    font-size: 1.8vw;
}

.whitebody{
    margin-left: 3%;
    padding-top: 13px;
    color: #707070;
    padding-bottom: 30px;
}

.mainbody{
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 6%;
}

/*form*/

.topic{
    background-color: #ffffff;
    padding: .5vw;
    width: 97.7%;
    outline: .5px solid #9e9e9e;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
}

.dropdown {
    outline: 0px solid #707070;
    margin-left: 0vw;
    padding-right: 0px;
    float: right;
    width: 65%;
    font-size: 1vw;
    height: 1.75vw;
    background-color: #FFFFFF;
}

.arrow{
    background-color: #f5f5f5b9;
    border-left: 2px solid #707070;
    float: right;
    margin-left: 6vw;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #000000;
    padding: 0px 4px;
    z-index: 5;
    outline: 0px solid #707070;
}

.dropdown:hover .dropdown-content {
    display: block;
    cursor: pointer;
}

.name{
    margin-top: 1.2vw;
    background-color: #ffffff;
    padding: .5vw;
    font-size: 1.5vw;
    width: 97.2%;
}

.email{
    margin-top: 1.2vw;
    background-color: #ffffff;
    padding: .5vw;
    font-size: 1.5vw;
    width: 97.2%;
}

.message{
    margin-top: 1.2vw;
    background-color: #ffffff;
    padding: .5vw;
    font-size: 1.5vw;
    padding-bottom: 6vw;
    width: 97.2%;
    font-family: Arial, Helvetica, sans-serif;
}

.submit{
    margin-top: 1.2vw;
    margin-bottom: 1.5vw;
    background-color: #2699FB;
    color: #FFFFFF;
    text-align: center;
    font-size: 2vw;
    padding: .5vw;
    width: 98%;    
}

.submit:hover{
    cursor: pointer;
}

/* products */

.blauwphone{
    display: none;
}

.blauwdesktop{
    font-size: 2.5vw;
    margin-top: -2.7vw; 
}

.producten{
    margin-left: .7vw;
    width: 100%;
    height: auto;
}

.product1{
    height: 10vw;
    width: 15vw;
    object-fit: cover;
    padding-left: .8vw;
    padding-top: .8vw;
    
}

.product2{
    height: 10vw;
    width: 15vw;
    object-fit: cover;
    padding-left: .8vw;
    padding-top: .8vw;
}

.product3{
    height: 10vw;
    width: 15vw;
    object-fit: cover;
    padding-left: .8vw;
    padding-top: .8vw;
}

.product4{
    height: 10vw;
    width: 15vw;
    object-fit: cover;
    padding-left: .8vw;
    padding-top: .8vw;
 
}

.product5{
    height: 10vw;
    width: 15vw;
    object-fit: cover;
    padding-left: .8vw;
    padding-top: .8vw;
}

.product6{
    height: 10vw;
    width: 15vw;
    object-fit: cover;
    padding-left: .8vw;
    padding-top: .8vw;
}

.product7{
    height: 10vw;
    width: 15vw;
    object-fit: cover;
    padding-left: .8vw;
    padding-top: .8vw;
  
}

.product8{
    height: 10vw;
    width: 15vw;
    object-fit: cover;
    padding-left: .8vw;
    padding-top: .8vw;
}

.product9{
    height: 10vw;
    width: 15vw;
    object-fit: cover;
    padding-left: .8vw;
    padding-top: .8vw;
}

.product10{
    height: 10vw;
    width: 15vw;
    object-fit: cover;
    padding-left: .8vw;
    padding-top: .8vw;  
    padding-bottom: .8vw;
   
}

.product11{
    height: 10vw;
    width: 15vw;
    object-fit: cover;
    padding-left: .8vw;
    padding-top: .8vw;
    padding-bottom: .8vw;
}

.product12{
    height: 10vw;
    width: 15vw;
    object-fit: cover;
    padding-left: .8vw;
    padding-top: .8vw;
    padding-bottom: .8vw;
}

/* main css */

.footer{
    background-color: #000000;
    color: #ffffff;
    font-size: 1.5vw;
    text-align: center;
    vertical-align: middle;
    height: 3vw;
    max-width: 50%;
    margin-right: 25%;
    margin-left: 25%;
    margin-top: -1px;
    outline: 1px solid #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.footertext{
    font-weight: normal;
    padding: .5vw;
    vertical-align: middle;
    display: inline-block;
}

/*maak de tekst niet dik*/

.nietstrong{
    font-weight: normal;
}
