body{
    margin: -1vw;
    margin-right: -10vw;
    margin-bottom: -3vw;
    max-width: 100%;
    margin-left: -0vw;
    height: 100%;
}

.video{
    display: none;
}

/*top*/

.header{
    position: relative;
    text-align: center;
    color: #ffffff;
    object-fit: cover;
    margin-top: -5px;
}

.headerimage{
    width: 100%;
    height: 20vw;
    object-fit: cover;
    object-position: 0px -20vw;
}

.centered_text{
    position: absolute;
    margin-top: -16vw;
    margin-left: 9vw;
    font-size: 10vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #ffffff;
    text-shadow:
    1px 0px 0 #000000,
    -1px 0px 0 #000000,
    0px 1px 0 #000000,
    0px -1px 0 #000000;
}

/*menubalk*/

.menuknop {
    display: none;
}

.menu{
    text-align: center;
    padding: 1vw;
    margin-top: -2px;
    margin-bottom: 2px;
    height: 4vw;
    background-color: #707070;
    outline: .1vw solid #FFFFFF;
    align-items: center;
}

ul {
    list-style: none;
    margin: 0;            
    padding: 0;           
    display: inline-block;
    vertical-align: top;
    z-index: 2;
}

li {
    float: left;
}

.menuref {
    padding-left: 2vw;
    padding-right: 2vw;
    background-color: #707070;
    color: 255, 255, 255;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4vw;
    text-decoration: none;
    color: #FFFFFF;
}

.a:hover{
    cursor: pointer;
}

/* index */

.images{
    margin-top: .5vw;
}

.image{
    margin-top: -5.5vw;
}

.eerste{
    height: 40vw;
    object-fit: cover;
    object-position: center;
    display: inline-block;
    float: left;
    width: 48.75%;
    padding: .5vw;
    margin-top: 0vw;
}

.eerste::after
{
    content: "";
    clear: both;
    display: table;
}

.tweede{
    height: 40vw;
    object-fit: cover;
    object-position: center;
    display: inline-block;
    float: left;
    width: 48.75%;
    padding: .5vw;
}

.tweede::after{
    content: "";
    clear: both;
    display: table;
}

.derde{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: 0 -6vw;
    z-index: -1; position: relative;
    display: none;
}

.vierde{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: 0 -4vw;
    z-index: -1; position: relative;
    margin-top: .5vw;
    margin-bottom: -4vw;
}

.text{
    text-align: center;
    display: block;
    background-color: #2699FB;
    color: #ffffff;
    font-size: 7vw;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -0vw;
    font-weight: normal;
    padding: .5vw;
}

.texteen{
    margin-top: 0px;
}

.texttwee{
    margin-top: 0;
    display: none;
}

.textdrie{
    margin-top: 0;
    display: none;
}

.textvier{
    margin-top: 47vw;
}

.footer{
    background-color: #000000;
    color: #ffffff;
    font-size: 3vw;
    text-align: center;
    vertical-align: middle;
    height: 5vw;
    margin-top: 0vw;
    outline: 1px solid #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.footertext{
    padding: .25vw;
    vertical-align: middle;
    display: inline-block;
}

/*contact page*/

.body{
    margin-left: 0%;
    margin-right: 0%;
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
}

.bluecontact{
    background-color: #2699FB;
    height: 65px;
    display: none;
}

.bluecontacttext{
    font-size: 40px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    text-align: center;
}

/*contact body*/

.whitebody{
    margin-left: 3%;
    padding-top: 13px;
    color: #707070;
    padding-bottom: 30px;
}

.mainbody{
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 6%;
}

.moreinfo{
    display: none;
}

/*form*/

.topic{
    background-color: #ffffff;
    padding: 1vw;
    outline: 1px solid #9e9e9e;
    width: 97.6%;
    font-size: 2.5vw;
}

.dropdown {
    position: relative;
    outline: 1px solid #707070;
    margin: 1vw;
    margin-top: 3vw;
    padding: .3vw;
    font-size: 2vw;
    padding-left: 5px;
    width: 97%;
    background-color: #FFFFFF;
}

.arrow{
    background-color: #f5f5f5b9;
    margin-left: 20vw;
    padding-left: 3px;
    padding-right: 3px;
    border-left: 2px solid #707070;
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #000000;
    padding: 0px 4px;
    outline: 2px solid #707070;
    font-family: Arial, Helvetica, sans-serif;
}

.dropdown:hover .dropdown-content {
    display: block;
    cursor: pointer;
}

.name{
    margin-top: 15px;
    background-color: #ffffff;
    padding: 1vw;
    font-size: 2.5vw;
    outline: 0px solid #707070;
    width: 97.2%;
}

.email{
    margin-top: 15px;
    background-color: #ffffff;
    padding: 1vw;
    outline: 0px solid #707070;
    width: 97.2%;
    font-size: 2.5vw;
}

.message{
    margin-top: 15px;
    background-color: #ffffff;
    padding: 1vw;
    outline: 0px solid #707070;
    padding-bottom: 60px;
    width: 97.2%;
    font-size: 2.5vw;
}

.submit{
    margin-top: 15px;
    background-color: #2699FB;
    color: #FFFFFF;
    text-align: center;
    font-size: 25px;
    padding: 1vw;
    width: 98%;
    margin-bottom: -1.5vw
}

.submit:hover{
    cursor: pointer;
}

/* products */

.producten{
    padding: 2.5vw;
    margin-right: 0px;
    height: auto;
}

.product1{
    padding: .5vw;
    height: 27vw;
    width: 46vw;
    object-fit: cover;
}

.product2{
    padding: .5vw;
    height: 27vw;
    width: 46vw;
    object-fit: cover;
}

.product3{
    padding: .5vw;
    height: 27vw;
    width: 46vw;
    object-fit: cover;
}

.product4{
    padding: .5vw;
    height: 27vw;
    width: 46vw;
    object-fit: cover;
}

.product5{
    padding: .5vw;
    height: 27vw;
    width: 46vw;
    object-fit: cover;
}

.product6{
    padding: .5vw;
    height: 27vw;
    width: 46vw;
    object-fit: cover;
}

.product7{
    padding: .5vw;
    height: 27vw;
    width: 46vw;
    object-fit: cover;
}

.product8{
    padding: .5vw;
    height: 27vw;
    width: 46vw;
    object-fit: cover;
}

.product9{
    padding: .5vw;
    height: 27vw;
    width: 46vw;
    object-fit: cover;
}

.product10{
    padding: .5vw;
    height: 27vw;
    width: 46vw;
    object-fit: cover;
}

.product11{
    padding: .5vw;
    height: 27vw;
    width: 46vw;
    object-fit: cover;
}

.product12{
    padding: .5vw;
    height: 27vw;
    width: 46vw;
    object-fit: cover;
}

/*maak de footer tekst niet strong*/

.nietstrong{
    font-weight: normal;
}